:root {
    --primary-color: #1992D4;
    --background-color: #E2E8F0;
    --secondary-color: #FFFFFF;
    --hover-color: #035683;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

main {
    background-color: var(--background-color);
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.5fr 4fr;
}

li {
    list-style: none;
}


/* ##### sidebar styling ##### */
.sidebarLogoIcon {
    width: 50px;
    height: 50px;
    /* change icon color to white */
    filter: invert(1);
}

.sidebarIcon {
    width: 30px;
    height: 30px;
    /* change icon color to white */
    filter: invert(1);
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: grid;
    grid-template-rows: 5rem 16rem 15rem;
    grid-gap: 2rem;
}

.sidebar div h3 {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.sidebar div ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2px;
    cursor: pointer;
}

.sidebar div ul li:hover {
    background-color: color-mix(in srgb, var(--hover-color), transparent 50%);
    border-radius: 0.5rem;
    padding: 2px 5px;
}


/* ##### header styling ##### */
.profileIcon {
    width: 40px;
    height: 40px;
}

.headerSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.topHeaderDiv {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bottomHeaderDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* ##### main content styling ##### */
.mainContentSection {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 0.5rem;
}

.projectCardDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

/* ##### sidebar styling ##### */
/* ##### sidebar styling ##### */
/* ##### sidebar styling ##### */